@model FitnessAdvisor.Models.Choice

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Choice</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.typeOfWorkout, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.typeOfWorkout, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.typeOfWorkout, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <h3>Pick a workout!</h3>
            <div class="col-sm-offset-2" style="font-size:large; scrollbar-face-color:yellow">
                @{var weightLossChoice = new List<SelectListItem>()
                {
                new SelectListItem {Text = "Weight Loss",   Value = "Weight Loss"},
                new SelectListItem {Text = "Strength",   Value = "Strength"},
                };

                    @Html.DropDownListFor(m => m.typeOfWorkout, weightLossChoice)
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
